@use "./footer";

[data-theme=dark] {
    /* footer */
    .footer {
        background: #15212E;

        &__title {
            color: #9C9CA6;
        }

        &__item a{
            color: #fff;
        }

        .col:first-child {
            @include footer.beforeImg("../../static/img/company-icon-dm.svg");
        }
    
        .col:nth-child(2) {
            @include footer.beforeImg("../../static/img/community-icon-dm.svg");
        }
    
        .col:nth-child(3) {
            @include footer.beforeImg("../../static/img/more-icon-dm.svg");
        }
    }
}