.pagination-nav {
    justify-content: space-between;

    &__item {
        flex: unset;
        max-width: unset;

        &:first-child {
            .pagination-nav__label {
                color: #223047;
                border: 1px solid #223047;

                &::before {
                    content: url("../../static/img/pagination-back-arrow-icon.svg") !important;
                    vertical-align: middle;
                    transform: rotate(180);
                }
            }
        }

        &--next {   
            .pagination-nav__label {
                color: white;
                background-color: #223047;

                &::after {
                    content: url("../../static/img/pagination-next-arrow-icon.svg") !important;
                    vertical-align: middle;
                }
            }
        }
    }

    &__link {
        border: none;
    }

    &__sublabel {
        display: none;
    }

    &__label {
        font-size: 14px;
        padding: 5px 20px;
        border-radius: 4px;
        font-weight: 400;

        @media only screen and (max-width: 600px) {
            text-align: center;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}